@primary: #3498DB;
@lightBlue: #3FD1CB;
@yellow: #f9e75e;
@paddingRight: 60px - 60vw;

.forum {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    background: @lightBlue;
    z-index: 100;
    opacity: 0.9;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.6);
    transition: all 0.6s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .close {
        position: absolute;
        top: 20px;
        left: 10px;
        transform: rotate(45deg);
        transition: transform 0.6s ease;
        font-weight: bold;
        color: #666;
        font-size: 24px;
        cursor: pointer;
    }

    &.hide {
        right: calc(~"40px - 60vw");

        & .close {
            transform: rotate(0);
        }
    }

    & .welcome {

        & h2 {
            font-size: 28px;

            & span {
                color: @yellow;
            }
        }

        & p {
            font-size: 18px;
            opacity: 0.7;
            margin: 5px 0;
        }
    }
}

.facebook-button {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    background-color: #4c69ba;
    border: 1px solid #4c69ba;
    padding: 10px 15px;
    border-radius: 100px;
    margin: 15px 0 0;

    &:hover {
        opacity: 0.8;
        transform: scale(1.05);
    }
}